:root {
    --teal: #031634; /** CSS color variable **/
    --cobalt: #033649;
    --turquoise: #066464;
    --beige: #CEB280;
    --gold: #EADDCC;
}
body {
    margin: 0;
    padding: 0; 
    background-color: var(--teal);
    color: white;
}
#myname {
    display: block;
    color: var(--gold);
    font-size: 5em;
}
#exp-list {
    padding: 20px;
    margin: 30px;
    border: 10px solid var(--beige);
    width: 300px;
    box-sizing: border-box;
}
.exp-item {
    list-style-type: none; 
}