img {
    width: 100px;
    height: 100px;
    float: right;
    /* display: none; */
}

span {
    border: 1px solid black;
    width: 120px;
    background-color: antiquewhite;
    float: right;
    display: none;

}

div.parent {
    border: 2px solid red;
}

p {
    clear: both;
}